Hackatruck Project/flows.json
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1"},{"id":"3e77d543.c1882a","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":100,"y":400,"wires":[["ae0082ac.51ff8","5e10bf26.5f47","c0c482df.3f3b8","91b4d505.80ce28"]]},{"id":"ae0082ac.51ff8","type":"function","z":"deb0d57.1c46528","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"deb0d57.1c46528","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"deb0d57.1c46528","name":"cpu status","active":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"deb0d57.1c46528","name":"device data","active":true,"tosidebar":true,"console":false,"complete":"true","x":430,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"deb0d57.1c46528","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"deb0d57.1c46528","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"deb0d57.1c46528","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"deb0d57.1c46528","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["cbe1a0b7.cd877","805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"deb0d57.1c46528","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"86df0b6c.af90c8","type":"comment","z":"deb0d57.1c46528","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"141b7c7.ad42a84","type":"comment","z":"deb0d57.1c46528","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"deb0d57.1c46528","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"7926c7b2.86d938","type":"comment","z":"deb0d57.1c46528","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"deb0d57.1c46528","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"bd40d4f5.681498","type":"cloudant out","z":"deb0d57.1c46528","name":"","cloudant":"","database":"jpbrs13","service":"IoTjpbrs13-cloudantNoSQLDB","payonly":true,"operation":"insert","x":460,"y":600,"wires":[]},{"id":"6e9dd757.554c18","type":"e-mail","z":"deb0d57.1c46528","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"jp.brs@poli.ufrj.br","dname":"Batimentos cardiacos","x":860,"y":920,"wires":[]},{"id":"3bb849a0.df38c6","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.d.BPM","targetType":"msg","x":400,"y":680,"wires":[]},{"id":"5e10bf26.5f47","type":"function","z":"deb0d57.1c46528","name":"","func":"if(msg.payload.d.BPM >= 20){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":250,"y":560,"wires":[["bd40d4f5.681498","3bb849a0.df38c6","bf719f07.f3d34"]]},{"id":"77737720.dfed18","type":"http in","z":"deb0d57.1c46528","name":"","url":"/getBPM","method":"get","upload":false,"swaggerDoc":"","x":210,"y":800,"wires":[["91505e1.acfb9a"]]},{"id":"4c3e3cb8.b2b244","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":830,"y":800,"wires":[]},{"id":"91505e1.acfb9a","type":"cloudant in","z":"deb0d57.1c46528","name":"","cloudant":"","database":"jpbrs13","service":"IoTjpbrs13-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":400,"y":800,"wires":[["4a728929.a65ae8","46eacac2.714ef4"]]},{"id":"4a728929.a65ae8","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":860,"wires":[]},{"id":"91b4d505.80ce28","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":300,"wires":[]},{"id":"29c75434.b3a7cc","type":"http in","z":"deb0d57.1c46528","name":"/deletarDados","url":"/deletarDados","method":"get","upload":false,"swaggerDoc":"","x":790,"y":620,"wires":[["c9f75fb9.2a4c9","bdce28ff.6a8e58"]]},{"id":"c9f75fb9.2a4c9","type":"cloudant in","z":"deb0d57.1c46528","name":"Get all docs","cloudant":"","database":"jpbrs13","service":"IoTjpbrs13-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":830,"y":740,"wires":[["99597c35.e989b"]]},{"id":"393469e9.12aaf6","type":"http response","z":"deb0d57.1c46528","name":"Response","statusCode":"","headers":{},"x":1404.5777587890625,"y":800.5777893066406,"wires":[]},{"id":"f5757d09.6ca63","type":"http request","z":"deb0d57.1c46528","name":"deleteDocs","method":"POST","ret":"obj","paytoqs":false,"url":"https://ff01e43f-30f6-4bf8-b7e9-13060a998147-bluemix.cloudant.com/jpbrs13/_bulk_docs","tls":"","proxy":"","authType":"","x":1271.3333740234375,"y":733.2221984863281,"wires":[["393469e9.12aaf6"]]},{"id":"99597c35.e989b","type":"function","z":"deb0d57.1c46528","name":"bulk delete function","func":"var count = msg.payload.length;\nvar list = [];\nfor (i=0;i<count;i++) {\nlist.push({\n        _id: msg.payload[i]._id,\n        _rev: msg.payload[i]._rev,\n        _deleted: true\n    });\n}\n\nif (i == 0) {\nmsg.payload = \"No documents were found.  The database is empty!\";\nreturn [null, msg];\n}\n\nmsg.payload = {\n                \"docs\": \n                list\n               }\nreturn msg;","outputs":"2","noerr":0,"x":1027.3333740234375,"y":740.2221984863281,"wires":[["f5757d09.6ca63","63aa5e8d.713ca"],["393469e9.12aaf6","63aa5e8d.713ca"]]},{"id":"63aa5e8d.713ca","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"false","x":1228.666648864746,"y":879.5555906295776,"wires":[]},{"id":"bdce28ff.6a8e58","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":600,"wires":[]},{"id":"46eacac2.714ef4","type":"function","z":"deb0d57.1c46528","name":"","func":"a = msg.payload\nvalor = a[a.length-1].d.BPM\nmsg.payload = valor\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":800,"wires":[["4c3e3cb8.b2b244"]]},{"id":"a54def1c.06e26","type":"http in","z":"deb0d57.1c46528","name":"","url":"/getCalibrar","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1040,"wires":[["1fd91027.ca887"]]},{"id":"9f3828a9.25da38","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":790,"y":1040,"wires":[]},{"id":"1fd91027.ca887","type":"cloudant in","z":"deb0d57.1c46528","name":"","cloudant":"","database":"jpbrs13","service":"IoTjpbrs13-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":360,"y":1040,"wires":[["6e2eca7e.71a864","48ea09a3.5887e8"]]},{"id":"6e2eca7e.71a864","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1100,"wires":[]},{"id":"48ea09a3.5887e8","type":"function","z":"deb0d57.1c46528","name":"","func":"a = msg.payload\nvalor = a[a.length-1].d.BPM\nmsg.payload = valor\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1040,"wires":[["9f3828a9.25da38"]]},{"id":"bf719f07.f3d34","type":"function","z":"deb0d57.1c46528","name":"","func":"if(msg.payload.d.BPM >= 75){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":540,"y":940,"wires":[["6e9dd757.554c18"]]}]